{% extends "product/dashboard_base.html" %}
{% block title %} Change Password {% endblock %}

{% load crispy_forms_tags %}

{% block header %}Change Password{% endblock %}

{% block content %}

<style>
    label {
        color: grey;
    }
  .form-control {
      font-size: 12px !important;
  }    
</style>
<center>
<div class="col-md-6">
<div class="form-wrap">
    <form method="POST" class="form-group" >
        <!-- Create a Crsf_token here [Required] -->
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <button type="submit" class='btn btn-primary'>Change Password</button>
        <br>
        <br>
    </form>
    <a href="/dashboard" class="btn btn-primary" style="color:green">Return to Dashboard</a>
</div>
</div>
</center>
{% endblock %}
