Django
django-crispy-forms
geoip2
requests
shortuuid
termcolor
whitenoise
ip2geotools
django-user-agents
bs4
django-session-timeout
lxml
pytz
validators
django-dotenv
mysqlclient
django-bootstrap4
django-bootstrap-datepicker-plus
segno
icalendar
qrcode
pytz
termcolor
Pillow
djangorestframework
django-filter
django-debug-toolbar
jsonfield
crispy-bootstrap4