{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- Author -->
        <meta name="author" content="Eskias Yilma" />
        <!-- Title -->
        {% if request.path == "/" %}
        <title>WisePenny | Elevate Your Electronics Shopping Experience.</title>
        {% else %}
        <title>{% with name=request.path|slice:"1:-1" %}{{name|title}}{% endwith %} | WisePenny</title>
        {% endif %}
        <!-- Description -->
        <meta name="description" content="WisePenny is your Ultimate Destination for Price Comparisons and Savings. Discover Top Electronics Deals and Shop Smarter. Let the Savings Begin!" />
        <!-- Keywords -->
        <meta name="keywords" content="Electronics price comparison, save on tech, best electronics deals, online electronics shopping, tech discounts, electronic bargains" />
        <!-- Thumbnail Image -->
        <meta property="og:image" content="https://wisepenny.m-ini.me/static/wisepenny/logo_x.1ce442c72177.png">
        <link rel="image_src" href="https://wisepenny.m-ini.me/static/wisepenny/logo_x.1ce442c72177.png">
        <!-- Canonical -->
        <link rel="canonical" href="https://wisepenny.m-ini.me{{request.path}}">
        <!-- Home Link -->
        <!-- Color Scheme -->
        <meta name="color-scheme" content="dark" />
        <!--Robots-->
        <meta name="robots" content="index,follow">
        <!-- Favicon-->
        <link rel="shortcut-icon" type="image/png" href="{% static 'wisepenny/logo_x.png' %}" type="image/x-icon" />
        <link rel="icon" type="image/png" href="{% static 'wisepenny/logo_x.png' %}" />
        <link rel="apple-touch-icon" type="image/png" href="{% static 'wisepenny/logo_x.png' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="{% static 'wisepenny/styles.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'wisepenny/dashboard.css' %}">

        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/6.6.6/css/flag-icons.min.css" integrity="sha512-uvXdJud8WaOlQFjlz9B15Yy2Au/bMAvz79F7Xa6OakCl2jvQPdHD0hb3dEqZRdSwG4/sknePXlE7GiarwA/9Wg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Ubuntu">
        <style>
          body {
            font-family: 'Ubuntu', serif !important;
            font-size: 15px;
          }
        </style>
        <!-- Context -->
        <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebSite",
            {% if request.path == "/" %}
            "name": "WisePenny | Elevate Your Electronics Shopping Experience.",
            {% else %}
            "name": "{% with name=request.path %}{{name|title}}{% endwith %} | WisePenny",
            {% endif %}
            "url": "https://www.wisepenny.com/",
            "description": "WisePenny is your Ultimate Destination for Price Comparisons and Savings. Discover Top Electronics Deals and Shop Smarter. Let the Savings Begin!",
            "inLanguage": "en",
            "copyrightHolder": {
                "@type": "Organization",
                "name": "WisePenny",
                "url": "https://www.wisepenny.m-ini.me/"
            },
            "image": {
                "@type": "ImageObject",
                "url": "{% static 'wisepenny/logo_x.png' %}",
                "height": 500,
                "width": 500
            }
        }
        </script>

        <!-- Google tag (gtag.js) -->


        {% block head %}{% endblock %}

    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">

            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="/"><img alt="WisePenny : Elevate Your Electronics Shopping Experience." src="{% static 'wisepenny/logo_x.png' %}" id="navbar-logo" style="height:50px;"> WisePenny</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                            <li class="nav-item">  </li>
                            {% if user.is_authenticated %}
                                <li class="nav-item"><a class="btn btn-outline-light nav-link" href="/dashboard" style="color:black; background:#FFC801">
                                    Dashboard</a>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="/edit_profile">My Profile</a></li>
                                        <li><a class="dropdown-item" href="/my_products">My Products</a></li>
                                        <li><hr class="dropdown-divider" /></li>
                                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                                    </ul>
                                </li>
                            {% else %}

                                <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                                <li class="nav-item">  </li>
                                <li class="nav-item">
                                    <a href="/register" class="btn btn-primary btn-md px-4 me-sm-3" style="color:black; background:#FFC801">
                                        <span class="btn-inner--text">Get Started</span>
                                    </a>
                                </li>

                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
            {% block content %} {% endblock %}

        </main>

        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; WisePenny 2023. All Rights Reserved.</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="/privacy">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="/terms">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="/contact">Contact</a>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'wisepenny/scripts.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@5" type="text/javascript"></script>
        <script>
            window.addEventListener('DOMContentLoaded', event => {
                const datatablesSimple = document.getElementById('datatablesSimple');
                if (datatablesSimple) {
                    new simpleDatatables.DataTable(datatablesSimple);
                }
            });
        </script>
        <!-- Dismiss alerts -->
        <script>
            $('.alert').alert();
        </script>
    </body>
</html>
